<a href="https://colab.research.google.com/github/profmcnich/example_notebook/blob/main/a3_sample_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

\(\^Be sure to update this button to point to your notebook instead of the sample notebook\)

In [3]:
# Imports section
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
import sklearn
from sklearn import linear_model

## Part 1. Loading the dataset

In [ ]:
# Using pandas load the dataset (load remotely, not locally)
df = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")

In [ ]:
# Output the first 15 rows of the data
df.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [ ]:
# Display a summary of the table information (number of datapoints, etc.)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

In [ ]:
df.describe()

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

In [ ]:
df.size

3000

In [ ]:
df.dtypes

Temperature °C      int64
Mols KCL            int64
Size nm^3         float64
dtype: object

## Part 2. Splitting the dataset

In [ ]:
# Take the pandas dataset and split it into our features (X) and label (y)
features = df [["Temperature °C","Mols KCL"]]
label = df["Size nm^3"]
X, y = features, label
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
X_train, X_test, y_train, y_test

(     Temperature °C  Mols KCL
 970             837       160
 697             842       739
 967             533       963
 341             473       732
 60              316         2
 ..              ...       ...
 615             565       251
 497             801       473
 179             739       406
 34              740       299
 824             303       521

 [900 rows x 2 columns],      Temperature °C  Mols KCL
 627             930       679
 839             244       744
 716              95       499
 625             432       435
 208             484       863
 ..              ...       ...
 192             430       560
 668             793       878
 20              913        66
 82              973       875
 46              489       396

 [100 rows x 2 columns], 970    2.786154e+05
 697    1.270183e+06
 967    1.059450e+06
 341    7.134573e+05
 60     5.056114e+03
            ...
 615    2.922100e+05
 497    7.737503e+05
 179    6.136456e+05
 34     4.539543e+05
 824    3.271175e+05
 Name: Size nm^3, Length: 900, dtype: float64, 627    1.287273e+06
 839    3.818153e+05
 716    1.030643e+05
 625    3.864304e+05
 208    8.624711e+05
            ...
 192    4.957200e+05
 668    1.424049e+06
 20     1.315965e+05
 82     1.736301e+06
 46     3.976365e+05
 Name: Size nm^3, Length: 100, dtype: float64)

## Part 3. Perform a Linear Regression

In [ ]:
# Use sklearn to train a model on the training set
sample = np.array([[430, 230], [100, 234], [560, 40], [43, 3]])

# Create a sample datapoint and predict the output of that sample with the trained model
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

prediction = lin_reg.predict(np.array([[0,1]]))

print(f"Prediction on the entire test data",prediction)

# Report on the score for that model, in your own words (markdown, not code) explain what the score means

# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX
# y = mx_1 + mx_2 + b

Prediction on the entire test data [-404825.74584137]

Sample equation: $E = mc^2$

## Part 4. Use Cross Validation

In [ ]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data
my_cv = ShuffleSplit(n_splits=10, test_size=0.1, random_state=0)
scores = cross_val_score(model, features, label, cv = my_cv)

print(scores)
print(score.mean(), scores.std)
# Report on their finding and their significanc

NameError: ignored

## Part 5. Using Polynomial Regression

In [4]:
from sklearn.model_selection import train_test_split
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2
poly = PolynomialFeatures(degree = 2)
X_train = poly.fit_transform(X_train)
X_test = poly.fit_transform(X_test)
model = linear_model.LinearRegression()
model.fit(X_train,Y_train)
print(f"Score:{model.score(X_train,Y_train)}")
print(f"coefficent:{model.coef_}")
print(f"intercept:{model.intercept_}")
# Report on the metrics and output the resultant equation as you did in Part 3.
print(f"Predict:{model.predict(X_test)}")

NameError: ignored